# Firecrawl API Key
# Get your API key from: https://www.firecrawl.dev/
FIRECRAWL_API_KEY=fc-f48d31866aaf4b499b54762c5c21d6b2

# Groq API Key
# Get your API key from: https://console.groq.com/keys
GROQ_API_KEY=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